.dashboard-ul{
    display: flex;
    gap: 4rem;
    /* box-shadow: 0px 0px 10px 0px lightgray; */
    /* background-color:lightgray; */
    /* width: 20%; */
    
    

}
.dashboard-ul li{
    list-style: none;
    cursor: pointer;
    display: flex;
    margin-top:1%;
}
.dashboard-ul li a{
    text-decoration: none;
    color: #000;
    display: flex;

}
.dashboard-main{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    box-shadow: 0 10px 10px wheat;
    height: 80px;
    width: 100%;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 999;
}
